html, body {
  overflow: hidden;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.no-webgl-message {
  display: none;
}

html.no-webgl .no-webgl-message{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1001; /* Ensures visibility in IE8 */
  padding: 10px;
  font-family: sans-serif;
  background-color: lightyellow;
  border-bottom: 1px solid gold;
}

table.marker-properties {
  border-collapse: collapse;
  margin: 0;
  font-size: 11px;
  border: 1px solid #eee;
  font: 12px/20px "Helvetica Neue",Arial,Helvetica,sans-serif;
  color: #404040;
  color: rgba(0,0,0,0.75);
}

table.marker-properties tr:nth-child(odd) {
  background: #f7f7f7;
}

table.marker-properties td,
table.marker-properties th {
  padding: 5px;
}

table.marker-properties th {
  font-weight: bold;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}
.leaflet-marker-icon .number{
  position: relative;
  top: -71px;
  font-size: 12px;
  width: 30px;
  text-align: center;
  z-index: 1000;
  font-weight: bold;
  color: #fff;
}
